body{
    background-color: #e0e5f2;
    
    font-family: 'Noto Sans KR',sans-serif;
}

/* home */

.frame{
    display: flex;
    flex-direction: column;
}
.navigator{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #7f838f;  
    justify-content: space-between;
}
.site-name{
    font-size: 30px;
    margin-top:0px;
    margin-bottom: 15px;

    color: black;
}

.site-name:hover{
    color: whitesmoke;
    transition: 0.3s;
}

li{
    list-style: none;
    margin-right: 15px;

    display: inline;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: whitesmoke;
    transition: 0.3s;
}

.intro-sector{
    text-align: center;
    font-size: 25px;
    font-weight:400;
    letter-spacing: 1px;
    line-height: 60px;

    margin: 100px;
    color: #7f838f;
}
.name-highlight{
    background-color: #8aacc8;
}


/* portfolio-sector */
.recent-works{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 400;
    text-align: right;
}


.pf-works{
    display: flex;
    flex-direction: column;

    justify-content: center;

    background-color: white;
    border-radius: 5%;
    padding: 50px 0px ;
    margin: 0px 20px;
}

.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:30px;
    margin-bottom: 50px;
}

.pf-img{
    width: 30%;
}
.pf-name{
    color:#8aacc8;
    font-size: 30px;
    font-weight:800;

    text-align: center;
}

.pf-comment{
    margin: 0px 30px;
}

.contact-sector{
    margin-top: 30px;
    border-top: 1px solid #7f838f ;
}

.contact-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    
}


/* footer */
footer{
    text-align: center;
    margin:30px;
}
a[title="down-arrow icons"]{
    font-style: italic;
    color: #7f838f;
    font-size: 15px;
    text-align: center;
}

/* Info.html */

.info-pf-list{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    
}
.info-intro{
    font-weight: 300;
    font-size: 30px;
}
.info-intro-name{
    background-color: #8aacc8;
    color: whitesmoke;
    font-weight: 400;
}
.info-intro-name:hover{
    background-color: palevioletred;
    transition: 0.3s;
}
.sh_image{
    margin-bottom: 50px;
}
.info-icon{
 display: flex;
 flex-direction: row;
 justify-content: center;
  
}

.info-icon>img{
    width: 8%;
    margin:10px 10px;
}
.info-icon-list{
    display: flex;
    justify-content: space-around;
    
}
.info-icon-list>img{
    width: 10%;

}

.info-tech-icon{
 display: flex;
 flex-direction: row;
 justify-content: center;
}


.info-name{
    font-size: 15px;
    font-weight: 100;
    color: #7f838f;
    margin-top:40px;
    font-style: italic;
}

.sh_intro{
    color:black;
}

/* footer */
input[type=text]{
    margin-left:15px;
    padding-left: 10px;
       background-color:#e0e5f2;
       border-top: none;
       border-left: none;
       border-right: none;
       border-bottom: 3px solid #7f838f;
}


/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 2em auto;
  padding: 0.5em 1.5em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color:#8aacc8;
}
/* BUTTON 5 */
.btn-5 {
    overflow: hidden;
  }
  
  .btn-5::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
  }
  
  .btn-5:hover:after {
    height: 100%;
    width: 135%;
  }

/* Portfolio */
.pf-list-name{
    text-align: center;
    font-size: 30px;
    color: #7f838f;
}
.pf-used-tech{
    text-align: center;
    color: #7f838f;
    
}